/* bonus table width */
.bonus-table {
    grid-template-rows: max-content;

    .manager-table-header {
        grid-template-columns: 10rem repeat(2, 1fr) 3rem;

        @include for-desktop {
            display: none;
        }
    }

    .manager-table-body {

        &-row {
            grid-template-columns: 10rem repeat(2, 1fr) 3rem;

            .item {
                &>sub {
                    color: var(--red);
                    margin-left: 6px;
                    bottom: 0;
                }

                .edit-btn {
                    background: transparent;
                    border: none;
                    color: var(--mecoGreen);
                    cursor: pointer;
                    font-size: 1.5rem;
                    padding: 5px;
                    @include ease(.2s);

                    &:hover {
                        @include filter-brightness(0.8)
                    }
                }
            }

            .edit-item {

                @include for-desktop {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            @include for-desktop {
                grid-auto-flow: row;
                grid-template-columns: auto;
                border-bottom: 1px solid var(--gray);
                padding-bottom: 24px;
            }
        }
    }
}

/* bonus table style end */