/* content style */
.main {
    background: var(--contentcolor);
    border-radius: 50px;
    padding: 44px;

    @include for-desktop {
        padding: 24px;
    }

    @include for-largepad {
        padding: 16px;
    }

    /* 表單 end*/
}