/* 工具列 */
.tools {
    @include grid(column, auto, auto, end, 24px);
    margin: 24px auto;

    .calendar {
        @include flexbox-gap(row, center, center, 0);
        position: relative;
        color: var(--mecoGreen);
        cursor: pointer;
        font-size: 1.125rem;

        .icon {
            position: absolute;
            left: 0;
            font-size: 1.5rem;
            padding: 8px;
        }

        .btn {
            font-size: 1.5rem;
        }

        .calendar-input {
            background: transparent;
            border: none;
            color: var(--mecoGreen);
            cursor: pointer;
            width: 170px;
            height: 100%;
            border-bottom: 1px solid var(--mecoGreen);
            padding-left: 44px;
            @include link-default;
            @include ease(.2s);

            @include for-phone {
                width: 100%;
            }
        }

        @include for-desktop {
            gap: 6px;
            font-size: 1rem;

            .icon {
                font-size: 1.25rem;
            }
        }
    }

    .search {
        @include flexbox-gap(row, flex-end, center, 0);
        color: var(--mecoGreen);
        font-size: 1.125rem;
        @include ease(.2s);

        .icon {
            border: 1px solid var(--mecoGreen);
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.5rem;
            padding: 8px;
            @include ease(.2s);

            &:hover {
                background: var(--mecoGreen);
                color: var(--white);
            }
        }

        .search-input {
            background: transparent;
            border: none;
            border-bottom: 1px solid var(--mecoGreen);
            color: var(--mecoGreen);
            width: 170px;
            height: 100%;
            padding-right: 12px;
            @include link-default;

            &::placeholder {
                font-size: 0.875rem;
            }

            @include for-phone {
                width: 100%;
            }
        }

        .btn {
            font-size: 1.5rem;
        }

        @include for-desktop {
            gap: 6px;
            font-size: 1rem;

            .icon {
                font-size: 1.25rem;
            }
        }

        @include for-phone {
            @include grid-start-end(2, 3, 1, 1);
        }
    }

    .btn {
        @include flexbox-gap(row, center, center, 16px);
        @include btn-style;
        font-size: 1.125rem;

        .icon {
            font-size: 1.5rem;
        }

        @include for-desktop {
            gap: 6px;
            font-size: 1rem;

            .icon {
                font-size: 1.25rem;
            }
        }

        @include for-phone {
            gap: 3px;
        }
    }

    @include for-desktop {
        gap: 12px;
    }
}
/* 工具列 end*/

/* 帳號管理工具列 */
.manager-tools{
    @include for-phone{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }

    .search{
        @include for-phone{
            
            @include for-phone {
                @include grid-start-end(1, 3, 2, 2);
            }
        }
    }
}